body {
    font-family: sans-serif;
}
.sensors {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    max-height: 30rem;
    
}
.sensorblock {
    margin-top: 5rem;
}
.sensorblock canvas {
    max-width: 50rem;
    max-height: 30rem;
}