@font-face {
    font-family: "Work Sans";
    src: url("/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
    font-weight:bolder;
}
@font-face {
    font-family: "Work Sans Italic";
    src: url("/fonts/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf");
}

i {font-family: "Work Sans Italic";}
body {
    font-family: "Work Sans";
    color: white;
    background-color: #292923;
    max-width: 50rem;

    margin-right: auto;
    margin-left: auto;
}

.sensors {
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    max-height: 35rem;
    position: relative;
}
.sensorblock {
    margin-bottom: 8rem;
}
.sensorblock canvas {
    max-width: 50rem;
    max-height: 30rem;
}

